<% content_for :navbar do %>
    <li><a href="/simple">Simple</a></li>
    <li><a href="/advanced">Advanced</a></li>
    <li class="active"><a href="#">Player</a></li>
<% end %>

<p>
  <% AWS::S3::DEFAULT_HOST.replace "s3-us-west-2.amazonaws.com"
        @bucket = AWS::S3::Bucket.find("screamingchef")
  %>

  <% @bucket.each do |pic|
  if pic.url.index('.mov') != nil
  %>
  <video src="<%=pic.url %>" controls type="video/mp4">
          </video>
  <% end %>
  <% end %>

</p>



